:root{
  --bg: #629678;
  --bgSoft: #629678;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #629678;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg);
  color: var(--text);
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  background-color: rgb(211, 205, 174);
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

@media screen and (max-width: 1535px){
  .container{
    max-width: 1366px;
  }

}

@media screen and (max-width: 1535px){
  .container{
    max-width: 1024px;
  }

}

@media screen and (max-width: 1535px){
  .container{
    max-width: 768px;
  }

}