:root{
  --bg: #a38c67;
  --bgSoft: #a69883;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #677ea3;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg);
  color: var(--text);
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  background-color: black;
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }